.spotContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin: 40px 40px;
  gap: 20px;
  height: 50px;
  max-width: 100%;
}
.spotRating {
  display: flex;
  text-align: top;


}

.spotImage {
  border-radius: 20px;
  width: 20rem;
  height: 17rem;
  cursor: pointer;
}

.spotDiv {
  display: flexbox;

  max-width: 100%;

}

.spotDetails{
    font-weight: bold;
}
