main {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-width: 100%;
  justify-items: center;
  margin: 30px 20px;
  align-items: center;

}
body{


}

.spotContainer {
  display: flex;
  box-sizing: content-box;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;
}

.spotPrice{
font-size: 14pt;
}

.spotRating {
  position: relative;
 text-align: right;
 bottom: 30px;;

}

.spotImage {

  height: 400px;
  width: 400px;
  cursor: pointer;
}

.spotDiv {
  display: flexbox;
 border: 2px solid red;
  
}

.spotDetails {
  font-weight: bold;
  font-size: 18pt ;
}
