main {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 100%;
  justify-items: center;
  margin: 30px 20px;
  align-items: center;

}


.spotContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  box-sizing: border-box;
  justify-content: space-around;
  border: 2px solid black;
  max-width: 100%;
  margin: 10px;

}

.spotPrice{
font-size: 14pt;
}

.spotRating {
  position: relative;
 text-align: right;
 bottom: 45px;;

}

.spotImage {
 border-radius: 10px;
  height: 400px;
  width: 400px;
  cursor: pointer;
}

.spotDiv {
  display: flexbox;
 border: 2px solid black;
 margin: 0;
 padding: 0;


}

.spotDetails {
  font-weight: bold;
  font-size: 18pt ;
}
