/* .main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  max-width: 100%;
  margin-left: 20px;
  margin-top: 30px;
}

.spotImageArray {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
}

.calloutBox {
  display: inline-flex;
  border: 2px solid black;
  border-radius: 20px;
  width: 25%;
  justify-content: space-evenly;
  text-align: center;
  align-self: flex-end;
}

.image {
  width: 15rem;
  height: 15rem;
  border-radius: 20px;
} */
