/* TODO Add site wide styles */
.hidden{
    display: none;

}

body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

}

.errors{
    color: red;
}

@media screen and (max-width: 1024px){
    body{
        max-width: 100%;
    }
}
