.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: center;
  list-style-type: none;
  max-width: 100%;
  height: 60px;
  border-bottom: 2px solid grey;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  max-width: 3rem;
}

.modalButton {
  height: 3.5rem;
  width: 6rem;
  background-color: rgba(39, 212, 178, 0.903);
  border: 2px solid black;
  color: #fff;

  border-radius: 50px;
  cursor: pointer;
  gap: 5px;
}

.createNewSpot {
  position: absolute;
  right: 220px;
  font-size: 14pt;
  font-style: italic;
}

.profile-dropdown {
  position: absolute;
  background-color: rgba(122, 202, 193, 0.6);
  filter: drop-shadow(0.5rem 0.5rem 1rem rgb(48, 78, 169));
  list-style-type: none;
  font-size: 14pt;
  right: 20px;
  margin-top: 5px;
  margin-right: 20px;
  padding: 0 20px;
  border-radius: 20px;
}
ul.profile-dropdown li{
   cursor: pointer;
}
ul.profile-dropdown li a:hover{
   color: lightsalmon;
}
.logOutButton {

   display: flex;
  cursor: pointer;
  color: white;
  background-color: grey;
  font-size: 14pt;
  border-radius: 15px;
  text-decoration: none;
  align-self: center ;
margin: 0;

}


.userEmail {
  border-bottom: 2px solid grey;
}

.userlinks {
  text-decoration: none;
  color: rgb(6, 78, 186);
}

.logOutDiv{
   display: flex;
   justify-content: center;
}
.fa-sharp {
  color: black;

}

.fas{
 color: black;

}
