#modal-content{
    display: flexbox;
    border-radius: 20px;
    width: 33%;
    text-align: center;
    margin-top: 100px;
    align-content: space-evenly;

}

label{
    text-align: left;
    float: left;
}

#modal-content button{
width: 50%;
}

.errors{
    color: red;
}
